body {
	background-color: #fff;
}

.twn-mainpage {
	background-color: #fff;
	color: #252525;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.twn-mainpage-header .uls-trigger {
	background-position: bottom left;
	padding-left: 30px;
	color: #3366BB;
	padding-top: 50px;
	cursor: pointer;
}

.twn-mainpage-title { /* @embed */
	background: transparent url('//translatewiki.net/static/logo.png') no-repeat scroll left center;
	/*FIXME: we need svgs too*/
	background-size: 50px;
	height: 75px;
}

.twn-mainpage-title .twn-brand-name {
	padding-left: 50px;
	padding-top: 20px;
	font-size: 24px;
}

.twn-mainpage-title .twn-brand-motto {
	padding-left: 50px;
	padding-top: 5px;
	font-size: 16px;
}

.twn-mainpage-header {
	border-bottom: 2px solid #3366BB;
}

.twn-mainpage-header .login {
	float: right;
	color: #3366BB;
	padding-top: 50px;
}

.twn-mainpage-banner {
	background: transparent url('../banners/dance.jpg') no-repeat scroll left center;
	background-size: 100%;
}

.twn-mainpage-search {
	padding: 7px 5px;
	background-color: #252525;
	box-shadow: 0 2px 3px;
}

.twn-mainpage-stats-tiles {
	margin: 10px 0 150px 5px;
}

.stats-tile-row {
	height: 140px;
}

.stats-tile {
	background-color: #3366BB;
	color: white;
	height: 130px;
	margin: auto;
	width: 80%;
	padding: 10px;
	opacity: 0.9;
}

.unused.stats-tile {
	opacity: 0.3;
}

.stats-number {
	font-size: 50px;
	opacity: 0.9;
}

.stats-text {
	font-size: 18px;
	opacity: 0.85;
	font-weight:normal;
}

.main-widget {
	background-color: #F8F8F8;
	color: #252525;
	max-height: 580px;
	opacity: 0.95;
	margin: 10px;
	padding: 10px;
}

.user-stats-title {
	padding-left: 100px;
	background: transparent url('../images/user-small.png') no-repeat scroll left center;
	background-image: -webkit-linear-gradient(transparent, transparent), url('../images/user-small.svg');
	background-image: -moz-linear-gradient(transparent, transparent), url('../images/user-small.svg');
	background-image: linear-gradient(transparent, transparent), url('../images/user-small.svg');
	background-position: bottom left;
	background-size: 75px;
}

.user-stats-title h2 {
	border-bottom: none;
}

.main-widget h2 {
	border: none;
	color: #252525;
}

.main-widget > .row {
	padding: 10px 5px;
}

.ranking {
	background-color: white;
	padding: 10px;
	border-top: 1px solid #EEEEEE;
}

.ranking .count {
	font-size: 29px;
	font-weight: bold;
}

.ranking .button {
	width: 80%;
	min-height: 30px;
}

.ranking .count-description {
	font-size: 18px;
}

.ranking .rank-description,
.ranking .language-description {
	color: #555555;
	font-size: 15px;
}

.row.langstats-link-row {
	padding: 10px;
}

a.langstats-link {
	font-size: 16pt;
	padding: 10px;
}

.twn-mainpage-search input,
.twn-mainpage-search button {
	padding: 5px;
	font-size: 16px;
	height: 32px;
}

.twn-mainpage-search button {
	width: 12%;
}

.twn-mainpage-footer {
	background-color: #E6E6E6;
	height: 50px;
	font-size: 16px;
	padding: 10px;
	margin: 10px;
}

.project-tile {
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	height: 200px;
}

.project-tile:hover {
	border: 2px solid #3366BB;
}

.project-icon {
	width: 100px;
	height: 100%;
}

.project-name {
	font-size: 22px;
	height: 60px;
}

.tux-statsbar,
.tux-statsbar span {
	height: 7px;
}

.project-content > div {
	padding: 10px;
}

button.button {
	background-color: #E6E6E6;
	background-image: -webkit-linear-gradient(top, #f0f0f0, #e6e6e6);
	background-image: -moz-linear-gradient(center top, #F0F0F0, #E6E6E6);
	background-image: linear-gradient(#F0F0F0, #E6E6E6);
	border: 1px solid #C9C9C9;
	border-radius: 3px 3px 3px 3px;
	color: #252525;
	cursor: pointer;
	display: inline-block;
	font: bold 0.813em/1 Arial, sans-serif;
	padding: 0.4065em 1.2195em;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

button.button:hover {
	background-color: #F0F0F0;
	background-image: -webkit-linear-gradient(top, #f8f8f8, #f0f0f0);
	background-image: -moz-linear-gradient(center top, #F8F8F8, #F0F0F0);
	background-image: linear-gradient(#F8F8F8, #F0F0F0);
	border-color: #C9C9C9;
}

button.button.blue {
	background-color: #3366BB;
	background-image: -webkit-linear-gradient(top, #3670c8, #3366bb);
	background-image: -moz-linear-gradient(center top, #3670C8, #3366BB);
	background-image: -moz-linear-gradient(#3670C8, #3366BB);
	border: 1px solid #33589F;
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

button.button.blue:hover {
	background-color: #3F77D7;
	background-image: -webkit-linear-gradient(top, #4c84da, #3f77d7);
	background-image: -moz-linear-gradient(center top, #4C84DA, #3F77D7);
	background-image: -moz-linear-gradient(#4C84DA, #3F77D7);
}

button.button.blue:active,
button.button.blue.down:active {
	background-color: #2A549C;
	background-image: -webkit-linear-gradient(top, #2d5ea9, #2a549c);
	background-image: -moz-linear-gradient(center top, #2D5EA9, #2A549C);
	background-image: linear-gradient(#2D5EA9, #2A549C);
}

button.button.green {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #008740;
	background-image: -ms-linear-gradient(top, #00974b, #008740);
	background-image: -moz-linear-gradient(top, #00974b, #008740);
	background-image: linear-gradient(#00974b, #008740);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00974b), color-stop(100%, #008740));
	background-image: -webkit-linear-gradient(top, #00974b, #008740);
	border: 1px #0f9b3b solid;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00974b', endColorstr='#008740', GradientType=0)";
	filter: progid:dximagetransform.microsoft.gradient(startColorstr = '#00974b', endColorstr = '#008740', GradientType = 0);
}

button.button.green:hover {
	background-color: #119750;
	background-image: -moz-linear-gradient(top, #10a65b, #119750);
	background-image: -ms-linear-gradient(top, #10a65b, #119750);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #10a65b), color-stop(100%, #119750));
	background-image: -webkit-linear-gradient(top, #10a65b, #119750);
	background-image: linear-gradient(#10a65b, #119750);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#10a65b', endColorstr='#119750', GradientType=0)";
	filter: progid:dximagetransform.microsoft.gradient(startColorstr = '#10a65b', endColorstr = '#119750', GradientType = 0);
}

button.button.green:active {
	background-color: #007236;
	background-image: -moz-linear-gradient(top, #007236, #007236);
	background-image: -ms-linear-gradient(top, #007236, #007236);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #007236), color-stop(100%, #007236));
	background-image: -webkit-linear-gradient(top, #007236, #007236);
	background-image: linear-gradient(#007236, #007236);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#007236', endColorstr='#007236', GradientType=0)";
	filter: progid:dximagetransform.microsoft.gradient(startColorstr = '#007236', endColorstr = '#007236', GradientType = 0);
}

.searchbox {
	border: 1px solid #777777;
	height: 32px;
	margin: 0 5px;
	-webkit-appearance: none;
}

.twn-mainpage-search {
	/* @embed */
	background: #000 url('../images/search.png') no-repeat scroll left center;
	background-image: -webkit-linear-gradient(transparent, transparent), url('../images/search.svg');
	background-image: -moz-linear-gradient(transparent, transparent), url('../images/search.svg');
	background-image: linear-gradient(transparent, transparent), url('../images/search.svg');
	background-size: 30px;
	height: 50px;
	padding: 10px 10px 10px 40px;
	float: left;
	margin-left: -15px;
}

.twn-mainpage-project-selector-title {
	font-size: 16pt;
	padding: 25px 10px 15px 10px;
	border-bottom: 1px solid #DDDDDD;
}

.twn-mainpage-footer a {
	text-align: center;
	color: #3366BB;
}


@media all and (max-width: 1200px) {
	.stats-tile {
		width: 100%;
	}
}

@media all and (max-width: 700px) {
	.row .six.columns, .row .five.columns {
		width: 100%;
		margin: 5px 0;
	}

	.twn-mainpage-stats-tiles {
		margin-bottom: 10px;
	}

	.stats-widget {
		opacity: 1;
	}

	.twn-mainpage-banner {
		background-position: top left;
	}

}
