[submodule "puppet/modules/elasticsearch"]
	path = puppet/modules/elasticsearch
	url = https://github.com/electrical/puppet-elasticsearch.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "puppet/modules/puppi"]
	path = puppet/modules/puppi
	url = https://github.com/example42/puppi.git
[submodule "puppet/modules/exim"]
	path = puppet/modules/exim
	url = https://github.com/example42/puppet-exim.git
[submodule "puppet/modules/mailman"]
	path = puppet/modules/mailman
	url = https://github.com/cjsoftuk/puppet-mailman.git
[submodule "puppet/modules/ssh"]
	path = puppet/modules/ssh
	url = https://github.com/attachmentgenie/puppet-module-ssh.git
