Abijeet Patro <abijeetpatro@gmail.com>
Abijeet Patro <abijeetpatro@gmail.com> Abijeet Patro <apatro@wikimedia.org>
Amir E. Aharoni <amir.aharoni@mail.huji.ac.il>
Amir E. Aharoni <amir.aharoni@mail.huji.ac.il> <amire80@users.mediawiki.org>
Bernd Sitzmann <bsitzmann@wikimedia.org>
Brion Vibber <brion@pobox.com>
Brion Vibber <brion@pobox.com> <brion@users.mediawiki.org>
Federico Leva <federicoleva@tiscali.it>
Florian Schmidt <florian.schmidt.stargatewissen@gmail.com>
Jack Phoenix <ashley@uncyclomedia.co> Jack Phoenix <jack@countervandalism.net>
Jeremy Baron <jeremy@tuxmachine.com>
Jeroen De Dauw <jeroendedauw@gmail.com>
Jon Harald Søby <jhsoby@gmail.com> Jon Harald Søby <jhsoby@users.mediawiki.org>
Jon Robson <jdlrobson@gmail.com>
Justin Du <justin.d128@gmail.com>
Kunal Mehta <legoktm@member.fsf.org> <legoktm.wikipedia@gmail.com>
Kunal Mehta <legoktm@member.fsf.org> <legoktm@gmail.com>
Niharika Kohli <niharikakohli29@gmail.com>
Niklas Laxström <niklas.laxstrom@gmail.com>
Niklas Laxström <niklas.laxstrom@gmail.com> <nikerabbit@users.mediawiki.org>
Paladox <thomasmulhall410@yahoo.com>
Petr Kadlec <mormegil@centrum.cz>
Pikne <pikne@online.ee> <[[mw:User:Pikne]]>
Platonides <platonides@gmail.com> <platonides@users.mediawiki.org>
Raimond Spekking <raimond.spekking@gmail.com>
Raimond Spekking <raimond.spekking@gmail.com> <raymond@users.mediawiki.org>
Robert Vogel <vogel@hallowelt.biz>
Robin Pepermans <robinp.1273@gmail.com>
Robin Pepermans <robinp.1273@gmail.com> Robin Pepermans <robin@users.mediawiki.org>
Ryan Kaldari <rkaldari@wikimedia.org>
Sam Reed <reedy@wikimedia.org>
Sam Reed <reedy@wikimedia.org> <reedy@users.mediawiki.org>
Santhosh Thottingal <santhosh.thottingal@gmail.com>
Siebrand Mazeland <siebrand@kitano.nl>
Siebrand Mazeland <siebrand@kitano.nl> <s.mazeland@xs4all.nl>
Siebrand Mazeland <siebrand@kitano.nl> <siebrand@users.mediawiki.org>
Siebrand Mazeland <siebrand@kitano.nl> <siebrand@wikimedia.org>
Umherirrender <umherirrender_de.wp@web.de>
Yuvi Panda <yuvipanda@gmail.com>
Yuvi Panda <yuvipanda@gmail.com> <YuviPanda@gmail.com>
Zoranzoki21 <zorandori4444@gmail.com>
[BOT] jenkins-bot <jenkins-bot@gerrit.wikimedia.org>
xqt <info@gno.de> <xqt@users.mediawiki.org>
