# This file is managed by puppet
[Unit]
Description=Processes MediaWiki jobs for production site
After=mysql.service network.target

[Service]
User=www-data
Group=www-data
ExecStart=/usr/bin/php /srv/mediawiki/targets/production/maintenance/runJobs.php --wait --maxjobs=1000 --memory-limit=1G
Restart=always
RestartSec=5
ProtectHome=read-only
ProtectSystem=full

[Install]
WantedBy=multi-user.target
