[Unit]
Description=Processes PHP error log file and relays it to IRC relay
After=network.target

[Service]
User=betawiki
Group=betawiki
Environment=HHVM_REPO_CENTRAL_PATH=/tmp/hhvm.hhbc
ExecStart=/bin/sh /home/betawiki/config/irc-relay/rakkauspipe.sh
Restart=always
RestartSec=60
PrivateDevices=true
PrivateTmp=true
ProtectHome=read-only
ProtectSystem=full
