# This file is managed by puppet
[Unit]
Description=Process and relay error messages to irc-log-relay
After=network.target

[Service]
User=betawiki
Group=betawiki
ExecStart=/bin/sh /home/betawiki/config/relays/irc/rakkauspipe.sh
Restart=always
RestartSec=60
PrivateDevices=true
PrivateTmp=true
ProtectHome=read-only
ProtectSystem=full

[Install]
WantedBy=multi-user.target
