[Unit]
Description=HHVM for development site

[Service]
User=www-data
Group=www-data
RuntimeDirectory=hhvm-development
ExecStart=/usr/bin/hhvm -m daemon -c /etc/hhvm/php.ini -c /etc/hhvm/development.ini
ExecStop=/bin/rm -f /run/hhvm-development/hhvm.sock
PIDFile=/run/hhvm-development/hhvm.pid
PrivateDevices=true
ProtectHome=read-only
ProtectSystem=full
Restart=always
RestartSec=5
