[Unit]
Description=HHVM for development site

[Service]
User=www-data
Group=www-data
ExecStartPre=/bin/mkdir -p /run/hhvm
ExecStartPre=/bin/chown -R www-data:www-data /run/hhvm
ExecStart=/usr/bin/hhvm -m daemon -c /etc/hhvm/php.ini -c /etc/hhvm/development.ini
ExecStop=/bin/rm /run/hhvm/hhvm-development.pid
PIDFile=/run/hhvm/hhvm-development.pid
PrivateDevices=true
ProtectHome=read-only
ProtectSystem=full
